<div>
  <!-- Back/Today/Next controls -->
  <div>
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
          ←
        </div>
        <div class="btn btn-secondary" mwlCalendarToday [(viewDate)]="viewDate">
          Today
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
          →
        </div>
      </div>
    </div>
  </div>

  <!-- Month/Week/Day view controls -->
  <div>
    <div class="btn-group">
      <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
        Month
      </div>
      <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
        Week
      </div>
      <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
        Day
      </div>
    </div>
  </div>
  <br/>

  <!-- Calendars -->
  <div [ngSwitch]="view">
    <h4 *ngIf="view === CalendarView.Month" style="text-align: center; margin-top: 0">{{monthNames[viewDate.getMonth()]}}</h4>
    <mwl-calendar-month-view
      (dayClicked)="dayClicked($event.day)"
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
    >
    </mwl-calendar-month-view>

    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      (eventClicked)="eventClicked($event)"
    >
    </mwl-calendar-week-view>

    <h4 *ngIf="view === CalendarView.Day" style="text-align: center; margin-top: 0">
      {{weekDays[viewDate.getDay()]}},
      {{monthNames[viewDate.getMonth()]}}
      {{viewDate.getDate()}},
      {{viewDate.getFullYear()}}
    </h4>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      (eventClicked)="eventClicked($event)"
    >
    </mwl-calendar-day-view>
  </div>
</div>
