.scroll-view {
    min-width: 100%;
    height: 32em;
  }
  
  .scroll-item {
    min-height:100%;
  }
  
  .card {
    width: 95%;
    margin:auto;
  }

  ::-webkit-scrollbar {
    width: 8px;
    overflow-y: scroll;
    background: #DFDFDF;
}

::-webkit-scrollbar-thumb {
    background: #337AB7;
    border-radius: 20px;
}