<app-navbar></app-navbar>
<div class="container">
    <button (click)="debug()" class="btn btn-primary">debug</button>
    <button (click)="editService()"  [hidden]="!isBusiness || isEditing" class="btn btn-primary">Edit</button>
    <button (click)="saveEdit()" [hidden]="!isEditing" class="btn btn-primary">Save Edit</button>
    <button (click)="cancelEdit()" [hidden]="!isEditing" class="btn btn-primary">Cancel Edit</button>
    isBusiness is {{this.isBusiness}}
    <br>
    <br>
    <div class="card">
        <div class="card-header">
            <h2 class="display-2">{{service.name}}</h2>
            
        </div>

        <div class = "card-body">
            <div class="card">
                <div class="card-header">
                    <h4>About</h4>
                </div>
                <div class="card-body">
                    <!--editing-->
                    <div class="form-group" [hidden] = "!isEditing">
                        <input type="text" class="form-control" id="serviceDescription"
                            [(ngModel)]="service.desc" name="desc"
                            #serviceDescription ="ngModel">
                    </div>
                    <!--normal view-->
                    <p [hidden] = "isEditing" class="card-text">{{service.desc}}</p>
                </div>
            </div>

            <br>

            <div class="card">

                <div class="card-header">
                    <h4>Dates</h4>
                    
                </div>
                <div class="card-body">
                     <!--editing-->
                     <div class="form-group" [hidden] = "!isEditing">
                        <input type="datetime-local" class="form-control" id="serviceDate"
                            [(ngModel)]="service.start_date_time" name="date"
                            #serviceDate ="ngModel">
                        <br>
                        <input type="text" class="form-control" id="serviceLength"
                            [(ngModel)]="service.length" name="length"
                            #serviceLength ="ngModel"> 
                    </div>
                    <!--normal view-->
                    <div [hidden] = "isEditing">
                        <p class="card-text"><b>Begins: </b>{{this.formatDate(service.start_date_time)}}</p>
                        <p class="card-text"><b>Length: </b>{{service.length}} minutes</p>
                    </div>
                </div>

            </div>

            <br>

            <div class="card">

                <div class="card-header">
                    <h4>Capacity</h4>
                </div>

                <div class="card-body">
                    <!--editing-->
                    <div class="form-group" [hidden] = "!isEditing">
                        <input type="text" class="form-control" id="serviceCapacity"
                            [(ngModel)]="service.capacity" name="capacity"
                            #serviceCapacity ="ngModel">
                    </div>
                    <!--normal view-->
                    <p class="card-text" [hidden] = "isEditing">{{service.capacity}} people</p>
                </div>
                
            </div>
        
            <br>

            <div class="card">

                <div class="card-header">
                    <h4>Cost</h4>
                </div>
                <div class="card-body">
                    <!--editing-->
                    <div class="form-group" [hidden] = "!isEditing">
                        <input type="text" class="form-control" id="servicePrice"
                            [(ngModel)]="service.price" name="price"
                            #servicePrice ="ngModel">
                    </div>
                    <!--normal view-->
                    <p class="card-text" [hidden] = "isEditing"><b>Classes start at: </b>${{service.price}}</p>
                </div>
                
            </div>
        
            <br>

            <button (click)="joinClass()" [hidden]="isBusiness" [disabled]="userJoined" class="btn btn-primary">Join</button>
              
            <button (click) ="leaveClass()" [hidden]="isBusiness" [disabled]="!userJoined" style="margin-left:2em" class="btn btn-primary">Leave</button>

            <div [hidden]="!userJoined"><br></div>
        
            <div [hidden]="!userJoined" class="alert alert-success">
                You have successfully joined this class.
            </div>
        </div>
    </div>
    <br>
    <button (click)="routeToFindClass()" class="btn btn-primary">Back</button>

</div>