<app-navbar></app-navbar>
<div class="container">
    <div style="text-align:right">
       <!-- <button class="btn btn-secondary btn-lg">Settings</button>-->
    </div>

    <h1 class="display-1">Welcome, {{userIdParameter}}!</h1>

    <br>

    <div [hidden]="isBusiness" class="card">
        <div class="card-header">
            <h4>Appointments</h4>
        </div>
        <div class="card-body">
          <p class="card-text">View all current appointments</p>
          <button (click)="routeToAppointments()" class="btn btn-primary">Go</button>
        </div>
    </div>

    <br><br>

    <div class="card">
        <div class="card-header">
            <h4>Find Classes</h4>
        </div>
        <div class="card-body">
          <p class="card-text">Find new businesses with classes that might interest you.</p>
          <button (click)="routeToClasses()" class="btn btn-primary">Go</button>
        </div>
    </div>



</div>
