<div class="container">
  <h1 (click)="routeToHome()" style="background-color: antiquewhite; border-radius: 5px; display: inline-block; padding: 15px; margin-top:15px; cursor: pointer">[bizZen]</h1>
  <div style="box-shadow: 5px 5px 5px lightgrey; padding: 25px; border: 1px solid lightgrey; border-radius: 30px">
<!--    [formGroup]="registerForm"-->
    <form (ngSubmit)="onSubmit()" class="form-group" #registerForm="ngForm">
      <h2>Register</h2>
      <div class="form-group">
        <label for="username">Username: </label>
        <input id="username" type="text" class="form-control" [(ngModel)]="userModel.username" name="username" #username ="ngModel">
        <div [hidden]="username.valid || username.pristine"
             class="alert alert-danger">
          Username is required
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email: </label>
        <input id="email" type="text" class="form-control" [(ngModel)]="userModel.userId" name="userId" #userId ="ngModel">
        <div [hidden]="userId.valid || userId.pristine"
             class="alert alert-danger">
          Email is required
        </div>
      </div>
      <div class="form-group">
        <label for="pass">Password: </label>
        <input id="pass" type="password" name="pass" class="form-control" [(ngModel)]="userModel.password">
        <br/>
        <label for="confPass">Confirm Password: </label>
        <input id="confPass" type="password" class="form-control">
        <div *ngIf="registerForm.errors?.['passwordsDontMatch'] && (registerForm.touched || registerForm.dirty)" class="cross-validation-error-message alert">
          Passwords must match.
        </div>
      </div>
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="customSwitches" [(ngModel)]="isBusiness" name="accountType">
        <label class="custom-control-label" for="customSwitches">I am a business</label>
      </div>
      <br/>
      <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary">Submit</button>
      <br/><br/>
      <p style="color: red; font-weight: bold">{{errorMsg}}</p>
    </form>
  </div>
  <br/>
  <div style="text-align: center">
    <h6>Already have an account?</h6>
    <button (click)="routeToLogin()" class="btn btn-secondary">Log In</button>
  </div>
</div>
